:root {
    --cor-principal: #00ADB5;
    --cor-fundo: #393E46;
    --cor-contraste: #222831;
    --cot-texto: #EEEEEE;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cot-texto);
}

#cabecalho {
    width: 50vw;
    background-color: var(--cor-contraste);
    padding: 8px;
    border: solid 4px var(--cor-principal);
    border-bottom: 0;
}


#chat {
    width: 50vw;
    overflow: auto;
    max-height: 390px;
    background-color: #393E46;
    border: solid 4px var(--cor-principal);
    padding: 24px;
    border-top: 0;
    border-bottom: 0;
}

.caixa {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.pessoa {
    background-color: var(--cor-contraste);
    border: solid 2px var(--cor-principal);
    padding: 8px;
    border-bottom: 0;
    width: 50%;    
}

.msg {
    width: 50%;
    background-color: var(--cor-fundo);
    border: solid var(--cor-principal) 2px;
    padding: 8px;
    border-top: 0;
}

.usuario {
    align-items: flex-end;
}

#rodape {
    width: 50vw;
    background-color: var(--cor-contraste);
    padding: 8px;
    border: solid var(--cor-principal) 4px;
    border-top: 0;
    display: flex;
}

#campo-msg {
    width: 90%;
    padding: 4px;
    border: solid var(--cor-principal) 2px;
}

#botao-envio {
    width: 10%;
    background-color: var(--cor-principal);
    color: var(--cot-texto);
    padding: 8px;
}